<!DOCTYPE html>
<html>
<head>
    <title>Watch Stop</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheet.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script href="/server.js"></script>
</head>
<body>
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-button-black w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> <a class="w3-bar-item w3-button w3-hover-purple w3-padding-large" href="index.html#">HOME</a> <a class="w3-bar-item w3-button w3-hover-purple w3-padding-large w3-hide-small" href="products.html">PRODUCTS</a> <a class="w3-bar-item w3-button w3-hover-purple w3-padding-large w3-hide-small" href="index.html#tour">BRANDS</a> <a class="w3-bar-item w3-button w3-hover-purple w3-padding-large w3-hide-small" href="index.html#contact">CONTACT</a> <a class="w3-padding-large w3-hover-amber w3-hide-small w3-right" href="javascript:void(0)"><i class="fa fa-search"></i></a>
    </div>
</div>
<!-- Page Content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
        <img src="imgs/billboard1.jpg" style="width:100%">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small"></div>
    </div>
    <!-- Free Delivery And Etc Bar -->
    <div class="w3-container w3-content w3-black" id="band" style="max-width:2000px; height:50px">
        <p class="w3-opacity w3-center" style="font:white">Free Delivery ---------------------------------------- Free Returns ---------------------------------------------------------- 100% Authentic ---------------------------------------- Best Prices</p><br>
    </div>
    <!-- The Product filter And View Section -->
    <div id="filter">
        <div class="dropdown" style="float:left; margin-top: 45px; margin-left: 1630px;">
            <button class="dropbtn">Price</button>
            <div class="dropdown-content" style="right:0;">
                <a href="#">£-£</a>
                <a href="#">£-£</a>
                <a href="#">£-£</a>
            </div>
        </div>
        <div class="dropdown" style="float:bottom; margin-left: -65px;">
            <button class="dropbtn">Brand</button>
            <div class="dropdown-content" style="right:0;">
                <a href="#">Hiblot</a>
                <a href="#">Patek Philippe</a>
                <a href="#">Rolex</a>
                <a href="#">Cartier</a>
                <a href="#">Audermars Piguet</a>
                <a href="#">Hublot</a>
            </div>
        </div>
    </div>
    <div id="app" class="w3-white">
        <div class="w3-container w3-content w3-padding-64" style="max-width: 1600px;">
            <h2 class="w3-wide w3-purple w3-center">PRODUCTS</h2>
                <div>
                    <input style="width: 1500px;" type="text" id="input"  placeholder="Search..">
                    <button v-on:click="loadSearchWatchs()"  type="submit"><i class="fa fa-search"></i></button>
                </div>
            <div id="wrap">
                <!-- Product Display -->
                <div id="columns" class="columns_4">
                    <figure v-for="watch in watchs">
                        <img :src="watch.image">
                        <figcaption>{{watch.brand}}</figcaption>
                        <span class="price">{{watch.price}}</span>
                        <a class="button" :href="watch.product_link">Link</a>
                    </figure>
                </div>
            </div>
                <p>{{pageNumber+1}} / {{numPages}}</p>
                <button v-on:click="previousPage" id="previousPageButton" style="background-color: black; border: none;
                    color: white; padding: 10px 10px; text-align: center; text-decoration: none; font-size: 16px;
                    margin: 4px 2px; cursor: pointer; display: left ;">Back</button>

                <p style="margin-left: 1500px;">{{pageNumber+1}} / {{numPages}}</p>
                <button v-on:click="nextPage" id="nextPageButton" style="background-color: black; border: none;
                    color: white; padding: 10px 10px; text-align: center; text-decoration: none; font-size: 16px;
                    margin: 4px 2px; cursor: pointer; margin-left: 1500px; position: absolute;">Next</button>
            <!-- Product list starts -->
            <!--<section class="products" id="app" id2="productSec">-->
                <!--<div class="product-card">-->
                    <!--<div class="product-info" v-for="watch in watchs">-->
                        <!--<h4 style="text-align: center; display: flex; flex-wrap: wrap;">: {{watch.brand}}</h4>-->
                        <!--<h5 style="text-align: center; display: flex; flex-wrap: wrap;">: {{watch.model}}</h5>-->
                        <!--<h6 style="text-align: center; display: flex; flex-wrap: wrap;">: {{watch.product_link}}</h6>-->
                        <!--<h6 style="text-align: center; display: flex; flex-wrap: wrap; margin-top: 20px">: {{watch.price}}</h6>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
            <!-- more products -->
        </div>
    </div>
</div>
<script>

    var app = new Vue ({
        el: '#app',
        data: {
            watchs: [],
            search: '',
            numPages: 0,
            numItemsPerPage: 50,
            pageNumber: 0
        },
        methods : {
            //Get all the cereals from the web service using Axios.
            loadAllWatchs: function () {

                //Creating variables
                var localApp = this;

                var offset = this.pageNumber * this.numItemsPerPage;

                var url = '/watchs?offset=' + offset + '&num_items=' + localApp.numItemsPerPage;
                //logging the variable URL for debugging purposes
                console.log("URL: " + url);
                axios.get(url)//Send GET request to cereals path
                    .then(function (response) {//Request successful
                        //Point cereals in data to returned array of cereals
                        localApp.watchs = response.data.watchs;
                        console.log(JSON.stringify(response.data.watchs));

                        localApp.numPages = Math.ceil(response.data.totNumItems / localApp.numItemsPerPage)
                    })
                    .catch(function (error) {
                        //Handle error
                        console.log(error);
                    });
            },
            nextPage: function () {
                this.pageNumber++;

                this.loadAllWatchs();

                if (this.pageNumber === this.numPages - 1)
                    document.getElementById("nextPageButton").disable = true;
            },
            previousPage: function () {
                this.pageNumber--;

                this.loadAllWatchs();

                if (this.pageNumber === this.numPages - 1)
                    document.getElementById("previousPageButton").disable = true;
            },

            loadSearchWatchs: function () {

                var localApp = this;

                var url = '/search?q=';

                var input = document.getElementById("input");

                axios.get(url + input.value)//Send GET request to cereals path
                    .then(function (response) {//Request successful
                        //Output watchs data
                        localApp.watchs = response.data.watchs;
                        console.log("---------- Data Received from Web Service -------------");
                        console.log(JSON.stringify(response.data.watchs));
                    })
                    .catch(function (error) {
                        //Handle error
                        console.log(error);
                    })
            }
        },

            created: function() {
                this.loadAllWatchs();
            }
    })

</script>
</body>
</html>
